# Variables de entorno para Orinoquia Explorer
DEBUG=False
SECRET_KEY=django-insecure-9=%(k0^@7)0u(&5gk-ji=c6a#el0(n)z_wcszymlvz6c_5qf24
ALLOWED_HOSTS=bbingenieros.online,www.bbingenieros.online,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://bbingenieros.online,https://www.bbingenieros.online

# Base de Datos MySQL (cPanel)
DB_ENGINE=django.db.backends.mysql
DB_NAME=bbingeni_orinoquia_xp
DB_USER=bbingeni_orinoquia_xp_user
DB_PASSWORD=.GdKf8?NY~!p!%Nd
DB_HOST=localhost
DB_PORT=3306

# Subdirectorio y Estáticos en cPanel
FORCE_SCRIPT_NAME=/orinoquiaxp
STATIC_ROOT=/home/bbingeni/public_html/orinoquiaxp/static
MEDIA_ROOT=/home/bbingeni/public_html/orinoquiaxp/media

# Credenciales FTP para despliegue automático
FTP_HOST=44.211.14.38
FTP_PORT=1257
FTP_USER=adso_user@bbingenieros.online
FTP_PASS=@c3lm8xxvGESTOR
