<div class="modal fade" id="modalEliminar{{ id_objeto }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar {{ titulo_modal }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ url_post }}" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            ¿Estás seguro de que quieres eliminar esta {{ titulo_modal|slice:":-1"|lower }}: <strong>{{ nombre_objeto }}</strong>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </div>
      </form>
    </div>
  </div>
</div>