{% extends 'partials/base-admin.html' %}
{% load static %}
{% block content %}
    <a href="{% url 'categoria_crear' %}" class="btn btn-primary mb-3">Crear Categoria</a>
    <table id="tablaCategorias" class="table table-hover table-striped align-middle w-100 nowrap">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.nombre }}</td>
                <td>{{ categoria.descripcion }}</td>
                <td>{% if categoria.estado %} Activo {% else %} Inactivo {% endif %}</td>
                <td>{% if categoria.estado %}
                    <a href="{% url 'categoria_editar' categoria.id %}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="{% url 'categoria_eliminar' categoria.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
{% block script %}
<script src="{% static 'js/DataTables/tconf/tCategorias-config.js' %}"></script>
{% endblock script %}